html{
	 background-color:whight;
	 font-family:Arial;
	 
}

h4{
	text-align:right;
	padding: 10px;
	color: #B22222;
}

h1{
	text-align:center;
	width:320px;
	padding:20px;
    border:5px;
    margin:0; 
	color: #B22222;
	font-family:Arial;
	background-color:#111;
	margin-left:550px;
	margin-bottom:20px
}
.photoSize {
	width:1000px;
    height:700px;
	padding-top: 40px;
	}
ul {
    list-style-type: none;
	text-align:center;
    overflow: hidden;
    background-color:#111;
}

 li{
    float: left;
	padding : 1.52px;
}
div{
	background-color: #111;
	
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
input {
	background-color: #111;
	color: #B22222;
}